* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none
}

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&display=swap');

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/back.jpg);
    background-position: center;
    background-size: cover;
}

.box {
    width: 30%;
    height: 70%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.part {
    width: 90%;
    height: 30%;
    cursor: pointer;
    margin-top: 8%;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-weight: 800;
    box-shadow: 0 0 2px 3px rgba(255, 255, 255, 0.364);
    transition: 300ms ease-in-out;

}

.part:hover {
    background-color: gold;
    text-shadow: 0 0 5px white;
}

.children {
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.285), rgba(0, 0, 0, 0.326)), url(bear.webp);
    background-size: cover;
    align-items: center;
}

.logo {
    width: 20%;
}


.children h1 {
    text-shadow: 0 0 3px gold;
    color:#fff;

}

.part:hover>h1 {
    font-size: 20px;
}



.teens {
    border-radius: 20px;
    background-color: #868a8774;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.285), rgba(0, 0, 0, 0.326)), url(inter.jpg);
    background-position-y: 1px;
    background-size: cover;
    align-items: center;
}

.teens h1 {
    color:#fff;
    text-shadow: 0 0 3px rgb(0, 0, 0);
    text-shadow: 0 0 3px gold;


}

/* .teens h1:hover {
    color: gold;
    text-shadow: 0 0 5px white;
} */


.adults {
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.285), rgba(0, 0, 0, 0.326)), url(ad.jpg);
    background-position-y: 1px;
    background-size: cover;
    align-items: center;
}

.adults H1 {
    text-shadow: 0 0 3px rgb(0, 0, 0);
    color:#fff;
    text-shadow: 0 0 3px gold;

}


.per {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top:5%;
}

.per img {
    width: 100%;
}


.eng img {
    width: 100%;
}




@media(max-width:480px) {
    .box {
        width: 80%;
    }

    h1 {
        font-size: 20px;
    }
}

@media(min-width:481px) {
    .box {
        width: 70%;
    }

    h1 {
        font-size: 20px;
    }
}

@media (min-width:768px) {
    .box {
        width: 70%;
    }

    h1 {
        font-size: 25px;
    }
}

@media (min-width:1080px) {
    .box {
        width: 40%;
    }

    h1 {
        font-size: 25px;
    }
}
