* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


body {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #333;
     min-height: 100vh;
}

label {

     top: -150px;
     width: 150px;
     height: 75px;
     position: relative;
     background-color: #212121;
     border-radius: 10px;

}

label input {
     appearance: none;
}


label span {
     position: absolute;
     top: 0;
     left: 0;
     width: 75px;
     height: 75px;
     background-color: #333;
     border: 6px solid #212121;
     border-radius: 14px;
     cursor: pointer;
     transition: 500ms;
     display: flex;
     align-items: center;
     justify-content: center;
}

label input:checked~span {
     left: 75px;
}

label span ion-icon {
     color: rgba(255, 255, 255, .25);
     font-size: 2rem;
     transition: 300ms;
}

label input:checked~span ion-icon {
     color: rgba(255, 255, 255, 1);
     filter: drop-shadow(0 0 5px #ffff) drop-shadow(0 0 10px #ffff) drop-shadow(0 0 015px #fff);

}

.bulb {
     position: absolute;
     top: 80px;
     transform: translateX(-50%);
     left: 50%;
     width: 348px;
     height: 408px;
     pointer-events: none;
     background-image: url(bulb_off.jpg);
     transition: .5s;
}

label input:checked~.bulb {
     background-image: url(bulb_on.jpg);
}