*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

section{
    min-height:100vh;
    background:#121212;
    display:flex;
  align-items:center;
    justify-content:center;
}
.bowl{
position:relative;
    width:300px;
    height:300px;
    background:rgba(255,255,255,.1);
    border:8px solid transparent;
    border-radius:50%;
    animation:animate 6s linear infinite ;
    transform-origin:bottom;
}

@keyframes animate {
    0%{
    filter:hue-rotate(0deg);
        transform:rotate(0deg);
    }
    
    25%{
        transform:rotate(15deg);
    }
    
    50%{
        transform:rotate(0deg);
    }
    75%{
        transform:rotate(-15deg);
    }
    
    100%{
    filter:hue-rotate(360deg);
        transform:rotate(0);
    }
}






.bowl::before{
content:"";
    position:absolute;
    top:-10px;
    left:50%;
    width:40%;;
    transform:translate(-50%);
    border:15px solid #444;
    height:30px;
    z-index:5;
    border:;
    border-radius:50%;
}

.bowl::after{
    position:absolute;
    content:"";
    width:150px;
    height:80px;
    background:rgba(255,255,255,.2);
    top:30%;
    left:50%;
    transform:translateX(-50%);
    border-radius:50%;
}

.water{
position:absolute;
    bottom:5px;
    height:150px;
    background:#f7c1fb;
    
    top:50%;
    left:5px;
    right:5px;
    border-bottom-left-radius:150px;
    border-bottom-right-radius:150px;
    filter:drop-shadow(0 0 80px #f7c1fb);
    animation:animatewater 6s linear infinite;
    transform-origin:top;
}


@keyframes animatewater {
    0%{
        transform:rotate(0deg);
        filter:hue-rotate(0deg);
    }
    
    25%{
        transform:rotate(15deg);
    }
    
    50%{
        transform:rotate(0deg);
    }
    75%{
        transform:rotate(-15deg);
    }
    
    100%{
        transform:rotate(0);
        filter:hue-rotate(360deg);
    }
}





.water::before{
    position:absolute;
    content:"";
    top:-10px;
    width:100%;
    height:20px;
    background-color:pink;;
    border-radius:50%;
    filter:drop-shadow(0 0 80px #99c2f0);
}







