*{
    margin: 0;
    padding: 0;
    font-family:vazir;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 0 8%;
    overflow: hidden;
}
.navbar{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.logo{
    width:100px;
    margin: 30px 0;
}
.navbar ul {
    direction: rtl;
}
.navbar ul li {
    display:inline-block;
    list-style:none;
    margin: 0 15px;
}
.navbar ul li a{
    font-size: 17px;
    color:darkblue;
    font-weight: 500;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: #ff5ea2;
}



.row{
    align-items: center;
    display: flex;
}
.row .col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2{
    font-size: 54px;
}
.col-1 h3{
    font-size: 30px;
    color: gray;
    margin: 20px 0 10px;
}
.col-1 p{
    font-size: 15px;
    color: gray;
    font-weight: 100;
}
.nine{
    margin: 30px 0;
    font-size: 20px;
    color: rgb(33, 21, 206);
    text-decoration: line-through;
}

.five{
    margin: 30px 0;
    font-size: 20px;
    color: rgb(255, 238, 0);
    text-shadow: 0 0 5px rgb(0, 0, 0);

}


button{
    width: 140px;
    border: 0;
    outline: none;
    color: white;
    background:linear-gradient( to right, rgb(255, 0, 0),rgb(234, 0, 255));
    border-radius: 5px;
    cursor: pointer;
    padding: 12px 15px;
}
button img{
    width: 30px;
    display:none;
}
button:hover img{
display: block;
}
button:hover{
    display: flex;
    width: 160px;
    align-items: center;
    justify-content: space-between;
}

.col-1::after{
    content: '';
    width: 15px;
    height:57%;
    position:absolute;
    top: 0;
    right: -20px;
    background:linear-gradient( to right, rgb(255, 0, 0),rgb(234, 0, 255));
    border-radius: 10px;
}



.row .col-2{
    flex-basis: 60%;
    display: flex;
    align-items: center;
    position: relative;

}
.col-2 img{
    width: 90%;
}

.color-box{
    text-align: center;
    background-color: rgb(255, 0, 43);
    z-index: -1;
    position: absolute;
    cursor: pointer;
    width: 60%;
    height: 80%;
    float: left;
border-radius: 20%;
cursor: pointer;
transform: translateX(-180px);
}
.add-btn{
    position: absolute;
  left: -18%;
    width: 15%;
    margin: 0 2%;
}


.social-link{
    width: 100%;
margin-top: 70px;
    text-align: center;
}

.pic{
    width: 15px;
    margin: 0 20px;
}

#check{
    display: none;
   
}
.checkbtn{
    font-size: 35px;
    color: darkorange;
    display: none;

}




@media (max-width:700px){
.navbar ul {
    position: fixed;
    width: 50%;
    height: 100vh;
    top: 80px;
    left: -100%;
    transition: .6s;
    z-index: 5;
    text-align: center;
    background: linear-gradient(to bottom,rgb(255, 0, 0),rgb(0, 0, 0));
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}
.fa{
    color: rgb(0, 255, 200);
}
.navbar ul li {
    display: block;
    margin-top: 50px;
}
.navbar ul li a{
    color: #fff;
    font-size: 15px;
}
.checkbtn{
    display: block;
}

#check:checked~ul {
    left: 0;
}

.row{
    flex-direction: column-reverse;
}
.col-1{
    flex-basis: 100%;
}
.col-2{
    flex-basis: 100%;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 30px;
}

}

@media (max-width:1200px){
    .navbar ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 80px;
        left: -100%;
        transition: .6s;
        z-index: 5;
        text-align: center;
        background: linear-gradient(to bottom,rgb(255, 0, 0),rgb(0, 0, 0));
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
    }
    .fa{
        color: rgb(0, 255, 200);
    }
    .navbar ul li {
        display: block;
        margin-top: 50px;
    }
    .navbar ul li a{
        color: #fff;
        font-size: 15px;
    }
    .checkbtn{
        display: block;
    }
    
    #check:checked~ul {
        left: 0;
    }
    
}