*{
	margin:0;
	padding:0;
	font-family:vazir;
	box-sizing:border-box;
	text-decoration: none;
}

.header{
	width:100%;
	min-height:100vh;
	background:linear-gradient(rgba(4, 9,30, 0.7),rgba(4, 9, 30, 0.7)),url(eduford_img/sharif.jpg);
	background-size:cover;
	background-position:center;
	position:relative;
}

nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:2% 6%;
}
.logo{
	width:100px;
}
#check{
	display:none;
}
.menu{
	font-size: 2em;
	color: #fff;
	display: none;
}

.nav-links{
	flex: 1;
	text-align:right;
}

.nav-links li{
	display:inline-block;
	padding:1em 2em;
	list-style:none;
}
.nav-links li a {
	color: #fff;
	text-decoration:none;
	font-size:20px;
}

.nav-links ul li::after{
	content: '';
	width:0%;
	height: 3px;
	background:#8b0000;
	margin: auto;
	transition:1s;
	display: block;
}

.nav-links ul li:hover::after{
	width: 100%;
}


.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% ,-50%);
	text-align: center;
}
.text-box h1{
font-size: 62px;
}

.text-box p{
	font-size:14px;
	margin:1px 0 40px;
	color:#fff;
}

.hero-btn{
	border:1px solid #fff;
	padding:10px 14px;
	border-radius:20px;
	color: #fff;
	text-decoration:none;
	text-align:center;
	transition: .5s;
}
.hero-btn:hover{
	background-color:orangered;
}


.course{
	width: 80%;
	margin:auto;
	text-align:center;
	padding-top:100px;
}

.course h1{
	font-size: 36px;
	font-weight:600;
}

.course p{
	color: #777;
	font-size:14px;
	font-weight: 300;
	line-height:22px;
	padding: 10px;
}


.row{
	margin-top:5%;
	display:flex;
	justify-content: space-between;
}
.course-col{
	flex-basis: 31%;
	background-color: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	cursor:pointer;
}

.course-col:hover{
	box-shadow:0 0 20px rgba(4, 9, 30, 0.2);
}


.campus{
	width: 80%;
	margin: auto;
	text-align:center;
	padding-top: 50px;

}

.campus-col{
	flex-basis: 32%;
	border-radius:10px;
	margin-bottom: 30px;
	position: relative;
	overflow:hidden;
}
.campus-col img{
	width: 100%;
	display: block;
}

.layer{
	background:transparent;
	position: absolute;
	transition: .6s;
	width:100%;
	height:100%;
	top:0;
	cursor:pointer;
	left:0;
}

.layer:hover{
	background:rgba(226, 0, 0, 0.7);

}

.layer h3{
	width: 100%;
	font-weight: 600;
	color: #fff;
	font-size:26px;
	position: absolute;
	bottom: 0;
	left:50%;
	transform: translateX(-50%);
	opacity:0;
	transition: .5s ease-in;
}

.layer:hover h3{
	bottom: 50%;
	opacity:1;
}




.facilities{
	width: 80%;
	margin:auto;
	text-align: center;
	padding-top: 100px;
}

.facilities-col{
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: right;
}
.facilities img{
	width: 100%;
	border-radius: 10px;
}


.facilities-col p{
	padding: 0;
}

.facilities-col h3{
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: left;
}


.testimonial{
	width: 80%;
	padding-top: 100px;
	margin: auto;
	text-align:center;
}

.testimonial-col{
	flex-basis: 45%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	background-color: #fff3f3;
	padding: 25px;
	cursor: pointer;
	display: flex;

}

.testimonial-col .fa{
	color:#f44336;
	
}



.testimonial-col img{
height: 40px;
margin: 2px 30px 0 5px;	
border-radius:50%;
}

.testimonial-col p{
	color: #777;
}

.testimonial-col h3{
	margin-top: 2em;
}


.cta{
	width: 80%;
	margin:100px auto;
	background-image: linear-gradient(rgba(0, 0, 0, 0.11),rgba(0, 0, 0, 0.158)),url(eduford_img/banner.png);
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
	box-sizing: border-box;
}


.cta h1{
	font-size: 45px;
	margin-bottom: 2%;
}


.footer{
	width: 80%;
	padding: 30px 0;
	margin: auto;
	text-align: center;
}

.footer h1{
	margin-bottom: 2em;
	font-weight: 800;
}

.footer p{
	font-size: 16px;
	line-height: 2em;
	margin-bottom: 5%;

}
.footer .fa{
	font-size: 20px;
	color: darkred;
}


@media (max-width:770px){
	.text-box h1{
		font-size:25px;
		margin-bottom: 1em;
		}
	
		.text-box p{
			font-size: 15px;
		}

		.menu{
			display: block;
			position: fixed;
			right: 1em;
			top: .3em;
			color: darkorange;
		}

		.nav-links ul {
			position: fixed;
			width: 50%;
			background-color: #8b0000;
			min-height: 100vh;
			left: -100%;
			top:0;
			padding-top: 50px;
			text-align: center;
			z-index:5;
			transition: .5s;
		}

	.nav-links ul li {
		display: block;
	}

	.nav-links ul li a {
		font-size: 15px;
	}
			#check:checked~ul{
				left:0;
			}

			.row{
				flex-direction:column;
			}

			.testimonial-col img{
				height: 60px;
			}


			.cta h1{
				font-size:20px;
				margin-bottom: 4%;
			}
}
