@font-face {
     font-family: Vazir;
     src: url(/assets/fonts/vazir-font-v27.2.2-Fontjo.com/Vazir-Bold.woff2)format('woff2');
     src: url(/assets/fonts/vazir-font-v27.2.2-Fontjo.com/Vazir-Bold.woff)format('woff');
     src: url(/assets/fonts/vazir-font-v27.2.2-Fontjo.com/Vazir-Bold.ttf)format('ttf');
}