*{
    margin:0;
    padding:0;
    font-family: vazir;
    box-sizing: border-box;
}
@font-face{
    font-family:vazir;
    src: url(../websites/Font/vazir-font-v16.1.0/Vazir.eot),url(../websites/Font/vazir-font-v16.1.0/Vazir.woff);
}
.container{
    width:100%;
    height:100vh;
}

.navbar{
    width: 100%;
    height: 20vh;
    display:flex;
    justify-content: space-between;
    padding: 2% 3%;
    align-items: center;
}
.sign{
    display: flex;
}
.logo{
    width: 75px;
    height: 75px;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
.navbar ul{
    direction: rtl;

}
.navbar ul li a{
    color: black;
    text-decoration: none;
    font-weight: 800;
}
.login{
    margin: 0 30px;
    background-color: #ffa037;
    padding: 8px 25px;
    border-radius:30px;
}
.banner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    direction: rtl;
}
.left-side{
    width: 50%;
}
.button{
    display: flex;
}
.film{
    background-color: #ffa037;
    margin-left: 80px;
    padding: 12px 15px;
    border-radius: 10px;
margin-top:50px
}
.right-side{
    width: 48%;
}
.right-side img{
    width: 75%;
    float: left;
}
.footer{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    
}
.footer ul{
    display: inline-flex;
text-align: center;
}
.footer ul li{
    list-style: none;
margin-left: 25px;
}


.footer ul li img{
    width: 120px;
}
.blood{
    position: absolute;
    top: 358px;
    right: 98px;
    z-index: -100;
}