* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.container {
     width: 100%;
     height: 100vh;
     background-color: aliceblue;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
}

.box {
     position: relative;
     width: 90%;
     height: 80%;
     display: flex;
     background-color: rebeccapurple;
     align-items: center;
     justify-content: space-around;
     padding: 2%;
     border-radius: 15px;


}

#logo {
     width: 30px;
     height: 30px;
     position: absolute;
     bottom: 2%;
     left: 50%;
     transform: translateX(-50%);
}

#arrow {
     position: absolute;
     width: 30px;
     height: 30px;
     top: 1%;
     right: 25%;
     transform: rotate(90deg);
}

#arrow.active {
     transform: rotate(-90deg);
     right: 5%;
}

iframe {
     width: 80%;
     height: 95%;
}

#frame.active {
     width: 100%;
}

ul {
     list-style-type: none;
}

ul li {
     font-size: 12px;
     padding: 15px 5px;
     color: white;
     border-bottom: 1px solid black;
     cursor: pointer;
}

ul li:hover {
     background-color: white;
     color: black;
}

.lesson {
     width: 20%;
     height: 100%;

}

.lesson.active {
     display: none;
}


.lesson::-webkit-scrollbar {
     display: none;
}


@media(max-width:576px) {
     .lesson ul li {
          font-size: 10px;
     }
     
     .lesson {
          width: 40%;
     }

     iframe {
          width: 60%;
     }
}
