*{
     margin: 0;
     padding: 0;
     font-family: Vazir;

}
body{
     width: 100%;
     height:100vh;
}

.box{
     width: 300px;
     height: 400px;
     border: 1px solid darkgoldenrod;
     background-color: whitesmoke;
     box-shadow: 1px 1px 10px rgb(12, 12, 1);
     position:absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
     border-radius: 15px;
}

.highschool{
     text-align: center;
     margin-top: 25px;
     font-weight: 600;
     margin-bottom: 30px;
}

.logo{
     width: 150px;
     border-radius: 45px;
}


.topText{
     font-size: 12px;
     text-align: center;
     margin: 15px 5px;
     text-shadow: 1px 1px 10px rgba(109, 224, 15, 0.495);
}

.input{
     text-align: center;
}
#getScore{
     border-radius: 5px;
     border: 0;
     background-color:#e8f0f3;
     padding: 10px;
     border: .2px solid rebeccapurple;
}

#click{
     margin-top: 25px;
     padding: 5px;
     color: rgb(0, 0, 0);
     border-radius: 7px;
     cursor: pointer;
     background:linear-gradient(to left,rgba(10, 235, 255, 0.546),rgba(78, 128, 149, 0.479));
}

.result{
margin-top: 20px;
}


.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content img{
     width: 200px;
     margin-top: 10%;
     cursor: pointer;
     
}
.content img:hover{
     width: 220px;
}

.title{
     text-align: center;
     margin-top: 50px;
     font-size: 20px;
     font-weight: 700;
     text-shadow: 2px 2px 5px darkmagenta;
}