*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:vazir;
}

.first-div{
    width: 100%;
    text-align: center;
    position: relative;
}
.first-div img{
    width: 250px;
}
.first-div p{
    margin-top: -30px;
    color: darkblue;
}
.first-div p::before{
    content:'*';
    color: gold;
    font-size: 20px;
}
.first-div p::after{
    content:'*';
    color: gold;
    font-size: 20px;
}
.navbar{
    width: 100%;
    text-align: center;
    height: 45px;
    margin-top: 10px;
}
.navbar ul {
    direction: rtl;

}
.navbar ul li {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}
.navbar ul li a{
    color: darkblue;
    text-decoration: none;
    font-weight: 600;

}


#check{
    display:none;
}

.checkbtn{
    font-size: 25px;
    color: darkorange;
    display: none;
}

/* free-bed-books*/


.free-bed-books{
    text-align: center;
    box-sizing: border-box;
    margin: 0 30%;
}
.free-bed-books h1{
    color: darkred;
}

.free-bed-books div{
    width: 150px;
    height:4px;
    background-color: rgb(212, 181, 5);
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);

}

.social-icons{
    margin-top: 50px;
    text-align: center;
}
.social-icons ul {
    text-align: center;
    margin-right: 6%;
}
.social-icons ul li {
    display: inline-block;
    margin-left: 6vw;
}

.slide-container{
    margin: 0 auto;
    width:700px;
    height: 300px;
    position: relative;
    text-align:center;
    overflow:hidden;
    margin-top: 5vh;
    border-radius: 20px;

}
.img-container{
    width:3500px;
    height: 300px;
    transition: 3s;
    position: relative;
}
.pic{
    width:700px;
    height:300px;
    
    float: left;
   
}

.one{
    background: url(pictures/slider/pexels-nappy-935944.jpg);
    background-position: center;
 background-size: cover;
}

.two{
    background: url(pictures/slider/pexels-olia-danilevich-5088192.jpg);
    background-position: center;
 background-size: cover;
}
.three{
    background: url(pictures/slider/pexels-pixabay-261895.jpg);
    background-position: center;
 background-size: cover;
}
.four{
    background: url(pictures/slider/pexels-andrea-piacquadio-3755707.jpg);
    background-position: center;
 background-size: cover;
}
.five{
    background: url(pictures/slider/pexels-andrea-piacquadio-3761515.jpg);
    background-position: center;
 background-size: cover;
}





.link-container{
position: relative;
bottom: 50px;

}



.btn{
    width: 15px;
    height: 15px;
    background-color: rgb(255, 0, 0);
    display: inline-block;
}

#slideone:target~.img-container{
    left:0;
}

#slidetwo:target~.img-container{
    left:-700px;
}
#slidethree:target~.img-container{
    left:-1400px;
}
#slidefour:target~.img-container{
    left:-2100px;
}
#slidefive:target~.img-container{
    left:-2800px;
}




@media (max-width:500px){
    .navbar ul{
        position: fixed;
        top:100px;
        background-color: lightcoral;
        width: 100%;
        height: 100vh;
        z-index: 5;
        left:-100%;
        transition: 2s;
        border-bottom-right-radius:50%;
    }
    .navbar ul li {
        display: block;
        margin-top: 25px;
    }
    .navbar ul li a{
        color: #fff;
    }
    .checkbtn{
display: block;
position: fixed;
top: 20px;
right:35px;
    }
  
  #check:checked~ ul{
      left: 0;
  }


  /*bed*/
  .free-bed-books{
    margin: 0 10%;
}
  .free-bed-books h1{
      font-size: 16px;
    color: darkred;
}

.slide-container{
    width: 400px;
    height: 300px;
}


.img-container{
    width:2000px;
    height: 300px;
}


.pic{
    width:400px;
    height:300px;   
}

#slideone:target~.img-container{
    left:0;
}

#slidetwo:target~.img-container{
    left:-400px;
}
#slidethree:target~.img-container{
    left:-800px;
}
#slidefour:target~.img-container{
    left:-1200px;
}
#slidefive:target~.img-container{
    left:-1600px;
}


}