* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

img {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 30%;
     height: 50%;
}

h1 {
     position: absolute;
     left: 50%;
     top: 5%;
     font-family: fantasy;
     transform: translate(-50%, -50%);
}